<section class='section'>
  <h1 class='title1 is-size-1 has-text-centered mt-5'>
   Public Recipes
  </h1>
  <div class='container public_recipes_container'>
    <% @recipes.each do |recipe| %>
      <div class='card'>
        <div class='card-content'>
            <div>
                <h4 class='subtitle is-3'>
                    <%= link_to recipe.name, recipe_path(recipe), class: "recipe-link" %>
                </h4>
                <span>By: <%= recipe.user.name %></span>
            </div>
            <div class="sub-card">
                <span>Total food items: <%= recipe.recipe_foods.count %></span>
                <span>Total price: $ 
                  <%= recipe.recipe_foods.map { |rf| rf.food.price * rf.quantity }.sum %>
                </span>
            </div>  
        </div>
      </div>
    <% end %>
  </div>
</section>
